{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenu dans ce blog !</h1>
    <p>loremQuis quis cillum reprehenderit aliqua
    ex dolore aliquip anim in nostrud aliquip.Deserunt in nost
    rud aute et ipsum eiusmod. Nostrud sit sint officia aliqua duis in esse </p>
    <p>
    sunt esse commodo id exercitation. Sint deserunt quis elit ad culpa. Aliquip consequ
    at laboris occaecat voluptate elit sint veniam veniam sunt veniam do occaecat. Elit anim esse laborum magna duis anim ullamco est. An
    im tempor et laborum eu magna dolor elit nostrud amet. Incididunt nulla sint dolor duis quis nostrud velomoto 
    </p>
{% endblock %}